.main {
  width: 80%;
  height: 80%;
  border: 1px solid red;
}

svg.chart {
  border: 1px solid black;
}

g.parent-group {
  border: 1px solid black;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}


/******************************/
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}