.main {
  width: 800px;
  height: 600px;
  border: 1px solid red;
}

svg.chart {
  border: 1px solid black;
}

g.parent-group {
  border: 1px solid black;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}
